{# templates/newsletter/signup.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sign Up for Newsletter{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: 'Helvetica', 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        h1 {
            color: #333;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sign Up for learn English phrases</h1>

        {{ form(sign_up_form) }}
    </div>
{% endblock %}
